#root {
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  background: white;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  #root{
    width: 100%;
  }

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
}